extends ./layout.jade

block content
  h1 Game Curator
  form(action="/generate", method="post")
    each game, index in games
      p
        label
          input(type="checkbox", name='games[g'+index+'][id]', value=index)
          =game.name
        if game.expansions
          each expansion, expansionIndex in game.expansions
            label.expansion
              input(type="checkbox", name='games[g'+index+'][expansions]['+expansionIndex+']', value=expansionIndex)
              = game.name + ": " + expansion.name 
    input(type="submit", value="Generate booklet")
    
  div.footer
    p This app was made possible by all of the contributors: #{packageObj.contributors.map((c) => c.name).join(", ")}
