@import url(https://fonts.googleapis.com/css?family=Crimson+Text|Open+Sans:400,700);

@media print {
  body {
    max-width: none;
  }
}

body {
  max-width: 40em;
  font-family: 'Crimson Text', serif;
  margin: 0 auto;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

div.game {
  padding-bottom: 2ex;
}

div.game h1.title, div.expansion h2.title {
  margin-bottom: 0;
}

p.meta {
  font-size: 85%
}

div.game p.players {
  margin-top: 0;
  margin-bottom: 1ex;
}

div.game p.meta {
  margin-top: 0;
  margin-bottom: 1ex;
}

div.game div.overviews div.basic {

}

div.expansion-meta {

}

label.expansion {
  display: block;
  margin-left: 1em;
}
